/* Custom CSS for The Spanish Travelers Project Landing Page */
body {
    margin: 0px;
    background: 
        radial-gradient(circle, transparent 50%, black 105%),
        url("Spain_Map_Snippet_1.jpg");
    box-shadow: 100vw 100vh 0px 0px inset rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
}
.bolded {
    font-weight: 800;
    color: rgb(227, 150, 125);
}
.linked {
    color: rgb(246,216,100); /* PMS Saffron color to match MAM specification */
    font-weight: 800;
    font-style: none;
}
.linked:hover {
    color: rgb(252, 168, 14); 
}
a {
    text-decoration: none;
}
.titleDiv {
    background-color: rgb(227, 150, 125); /* Closest match to MAM Coral specification I could get */
    position: fixed;
    color: white;
    left: 50px;
    top: 50px;
    right: 70vw;
    height: 30vw;
    width: 30vw;
    padding: 0px 10px;
    text-align: left;
    margin-top: 0px;
}

.tabsDiv {
    position: fixed;
    color: white;
    right: 0;
    left: 40vw;
    top: 0;
    bottom: 70vh;
    padding: 50px 0;
    text-align: center;
    word-spacing: 2em;
}

.menuBar:link, .menuBar:visited {
    color: gray;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 35px;
    padding: 10px 10px;
}

.menuBar:hover, .menuBar:active {
    color: white;
    font-size: 36px;
}

.contentDiv {
    position: fixed;
    color: rgb(0, 0, 0);
    color: white;
    right: 0;
    top: 25vh;
    bottom: 0;
    left: 40vw;
    padding: 0px 0;
    text-align: center;
}
#mapLinkDiv {
    position: fixed;
    left: 50%;
    margin-left: 5%;
    transition: 0.2s;
}
#aboutInfoDiv {
    position: fixed;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
    width: 750px;
    text-align: center;
    opacity: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-shadow:-5px 10px 15px black;
    transition: 0.2s;
}
#moreInfoDiv {
    position: fixed;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
    width: 750px;
    text-align: center;
    opacity: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-shadow:-5px 10px 15px black;
    transition: 0.2s;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    width: 100vw;
    padding-left: 50px;
}

#MULogo {
    height: 9vh;
}
#MAMLogo {
    height: 9vh;
    filter: invert(100%);
}

.toMapButton:link, .toMapButton:visited {
    background: radial-gradient(circle, transparent 1%, black 305%), url("ToMap_BG_Painting.jpg") center no-repeat;
    color: rgb(255, 255, 255);
    border: 10px solid rgb(227, 150, 125);
    padding: 14px 25px;
    height: 490px;
    width: 490px;
    line-height: 490px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
  }
  
  .toMapButton:hover {
    background: radial-gradient(circle, transparent 1%, black 195%), url("ToMap_BG_Painting.jpg") center no-repeat;
    height: 500px;
    width: 500px;
    color: white;
    font-size: 55px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 5px solid rgb(227, 150, 125);
    transition: 0.2s;
  }

  .toMapButton:active {
      font-size: 53px;
  }
