/* Custom CSS for The Spanish Travelers Project V3 */
#title h1{
	position: fixed;
	left: 60px;
	top: 10px;
	z-index: 20;
	font-family: "Lato", sans-serif;
	font-weight: black;
	font-style: italic;
	font-color: white;
	font-size: 55px;
	color: white;
	text-shadow:-5px 10px 15px black;
	-webkit-text-stroke: 2px black;
	padding: 0px;
}
#map {
	height:100%;
	width: 100%;
	z-index: 0;
}
body{
	margin: 0px;
	height:100%;
	width: 100%;
}
html{
	height:100%;
	width: 100%;
}
.custom-popup-options .leaflet-popup-content-wrapper {
  	background: rgba(0, 0, 0, 0.85);
  	color:#fff;
  	border-radius: 0px;
}
.custom-popup-options .leaflet-popup[style] {
	position: fixed !important;
	top: 0px !important;
	transform: none !important;
	bottom: none !important;
	left: 0px !important;
}
.custom-popup-options .leaflet-popup-content {
	width: 100vw !important;
	height: 100vh;
}
.custom-popup-options .leaflet-popup-pane {
	position: fixed !important;
}